body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#timer {
  font-size: 7em;
  font-weight: bold;
  text-align: center;
  
color: #ff4500;
}



#surprise-container {
  text-align: center;
}

#surprise-container img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#surprise-gif {
  cursor: pointer;
}
